@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

html, body {
  width: 100%;
  height: 100%;
}
.header {
  background-color: rgb(220,220,220);
  height: 125px;
  box-shadow: 0px 1px 2px rgb(220,220,220);
  padding-bottom: 10px;
}
.header__navbar {
  padding: 0;
}
.header__logo {
  height: 75px;
  width: auto;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Roboto, Ubuntu, Arial, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.tabular-numbers {
  font-variant-numeric: tabular-nums;
}

.text-message {
  color: #999;
  fill: #999;
}

.text-bold {
  font-weight: 700;
}

.label {
  display: inline-block;
  padding: 6px 0.5em 6px 0;
  font-size: 16px;
}

.text-monospace {
  font-family: 'Menlo', 'dejavu sans mono', 'Consolas', 'Lucida Console', monospace
}

.flex-static {
  flex: 0 0 auto;
}
.flex-fill {
  flex: 1;
}

.flex {
  display: flex
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e4e4e4;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
}

/*
 * Corrections
 */

.popover {
  max-width: unset;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.popover-header {
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-right-radius: calc(0.3rem - 1px);
  border-top-left-radius: calc(0.3rem - 1px);
}
.popover-body {
  padding: 9px 14px;
}
.project-popup-body {
  padding: 0% 5% 0% 5%;
  width: 700px;
  margin: 0 auto;
}

.sort-column > span.fa {
  margin: 0 5px !important;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}
.btn-secondary:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-secondary:focus, .btn-secondary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
          box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}
.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: #fff;
  border-color: #ccc;
}
.btn-secondary:not([disabled]):not(.disabled):active,
.btn-secondary:not([disabled]):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #292b2c;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
}
.btn-xs {
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.875rem;
  line-height: 0.8;
  border-radius: 0.2rem;
  float: right;
}
.button-invisible {
  border: none;
  border-radius: 0%;
}
.button__padding {
  padding-left: 1em;
}
.ReactVirtualized__List:focus{
  outline: none;
}
.dropdown--inline {
  display: inline-block !important;
}
.dropdown--input {
  width: 100%;
  margin: 0px 0px 0px 24px;
}

.btn, .dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.input-group-addon {
  background-color: transparent;
  height: 38px;
  width: 38px;
  padding: 0rem;
  margin-right: 24px;
}


/*
 * Elements
 */

.box {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
.box__header {
  padding: 2px 14px;
  margin-bottom: 0;
  font-weight: bold;
  background-color: #e6e6e6;
  border-bottom: 1px solid #ebebeb;
  border-top-right-radius: calc(0.3rem - 1px);
  border-top-left-radius: calc(0.3rem - 1px);
  display: flex;
}
.box__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.box__body {
  padding: 2px 14px;
}
.box__badge {
  float: right;
  color: #000000;
  font-weight: normal;
  font-size: 0.9em;
  padding-top: 0.1em;
}
.vertical-hr {
  margin-right: 1em;
}


/*
 * Components
 */

/* <App/> */

.App__wrapper {
  height: 100%;
  width: 100%;
}
.App {
  padding: 1em;
  width: 100%;
  height: calc(100% - 125px);
  display: flex;
  flex-direction: column;
}

.App__row {
  flex: 0 0 auto;
  display: flex;
  margin-bottom: 1em;
}
.App__row > * {
  display: inline-block;
  margin-right: 1em;
}
.App__row > * {
  flex: 1;
}
.App__row > *:first-child {
  width: 450px;
  flex: 0 0 auto;
}
.App__helpIcon {
  height: 20px !important;
  width: 20px !important;
  color: #000000;
}
.App__helpButton {
  margin: 8px 5px;
  background-color: transparent;
  border: none;
}
.App__helpButton:hover {
  cursor: pointer;
}
.App__helpButton:focus {
  outline: none;
}
.App__helpPopover {
  max-width: 433px;
}

/* <Samples/> */

.Samples {
  flex: 1;
}
.Sample {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
.Samples__empty {
  width: 100%;
  height: 200px;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
}
.Sample__details {
  flex: 0 0 auto;
  width: 450px;
}
.Sample__steps {
  flex: 1;
}

.Sample__details .box__body {
  font-size: 0.8em;
}

.Sample__table {
  width: 100%;
  max-width: 100%;
}
.Sample__table span {
  white-space: nowrap;
  padding: 0.1em 0;
  flex: 0 0 auto;
  width: 25%;
  max-width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Sample__table span.th {
  font-weight: 700;
}
.Sample__table > div:not(:first-child) {
  border-top: 1px solid #e9ecef;
}

/* Steps */

.steps {
  padding: 0px 10px 0px 10px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  bottom: 10px;
}

.step__icon {
  text-align: center;
  padding-bottom: 3px;
  color: #7c7c7cd3;
}

.step {
  flex: 0 0 100px;
  display: inline-block;
  width: 100px;
  height: 60px;
  cursor: pointer;
  border-radius: 4px;
}
.step:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.step--active,
.step--active:hover {
  background-color: rgba(89, 158, 255, 0.14);
}

.step__wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.step:not(:first-child) .step__wrapper::after {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: calc(-50% + 6px);
  content: '\A';
  background-color: #eee;
  border: 1px solid #ccc;
  border-width: 1px 0 1px 0;
  width:  calc(100% - 12px);
  height: 5px;
}
.step--not-started .step__wrapper {
  opacity:  0.5;
}

.step__dot {
  position: absolute;
  top: 5px;
  left: calc(50% - 7.5px);
  content: '\A';
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
  width:  15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step__dot::before {
  content: '\A';
  border-radius: 50%;
  width:  8px;
  height: 8px;
}
.step:hover .step__dot::after {
  position: absolute;
  content: '\A';
  border-radius: 50%;
  border: 2px solid #ddd;
  width:  20px;
  height: 20px;
  top: -3.5px;
  left: -3.5px;
}
.step--success .step__dot::before {
  background-color: #66dA00;
}
.step--error .step__dot::before {
  background-color: #fC7972;
}
.step--in-progress .step__dot::before {
  width:  0px;
  height: 0px;
  border: 5px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.step__name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
}
.step__details {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 8px;
}
.step__dropdown {
  position: absolute;
  /*top: 0;*/
  /*right: 0;*/
}
.step__tooltip {
  height: 45px;
}
.step__tooltip__text{
  padding: 0;
  margin: 0;
}
.step__popover--success {
  color: green;
}
.step__popover--error {
  color: red;
}

/* Step Status Bar */

.StepStatusBar {
  height: 14px;
  width: var(--stepWidth);
  background-color: #ffffff;
  outline-color: #000000;
  outline-style: solid;
  outline-width: thin;
}
.StepStatusBar__step--success {
  background-color: #66dA00;
}
.StepStatusBar__step--error {
  background-color: #d14141;
}
.StepStatusBar__step--undetermined {
  background-color: #706e6e;
}
.StepStatusBar__step--queued {
  background-color: #ffffff;
}
.StepStatusBar__step--running {
  background-color: #02409c
}
.StepStatusBarWrapper {
  padding-top: 10px;
  width: 700px;
  max-width: 100%;
}


.job__command {
  max-width: 600px;
  max-height: 200px;
  overflow: auto;
  font-family: monospace;
  font-size: 12px;
  white-space: pre;
  background-color: rgba(0, 0, 0, 0.03);
  margin-left: 1em;
}

.Popover__scrollArea {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
